In [3]:
import pandas as pd

from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn.metrics import classification_report

In [4]:
df = pd.read_csv('data/up_down_final')
df

,title,date,stock,movement
0,stock hit week high friday,2020-06-05,A,Down
1,stock hit week high wednesday,2020-06-03,A,Up
2,biggest mover friday,2020-05-26,A,Up
3,stock move friday midday session,2020-05-22,A,Up
4,b secur maintain neutral agil technolog rais p...,2020-05-22,A,Up
...,...,...,...,...
330533,hilliard lyon initi coverag zoeti neutral,2013-03-12,ZTS,Down
330534,hilliard lyon initi coverag zoeti neutral,2013-03-12,ZTS,Down
330535,updat bmo capit market initi zoeti underperfor...,2013-03-08,ZTS,Down
330536,bmo capit initi coverag zoeti underperform ann...,2013-03-08,ZTS,Down
330537,bmo capit initi coverag zoeti underperform ann...,2013-03-07,ZTS,Up

In [7]:
X = df['title'].fillna(" ")
y = df['movement'].values
vectorizer = TfidfVectorizer()
vectorizer.fit(X)
X = vectorizer.transform(X)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [12]:
model = MultinomialNB(alpha=.05)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)


# Make predicted probabilites of our testing data
y_pred_proba = model.predict_proba(X_test)

# Evaluate our model
accuracy =  model.score(X_test, y_test)

# Print our evaluation metrics
print("Model Accuracy: %f" % accuracy)

Model Accuracy: 0.588779